
    <div *ngIf="topicNav=='1'" style="height:200px;">
        <img *ngIf="topicNav=='1'" id="logo" style="position:fixed;z-index:11;background-color: white;" src="./img/logo.png" alt="Generic placeholder image" width="200" height="200">
    </div>
    <nav *ngIf="topicNav=='1'" id="navbar" class="navbar navbar-clear" data-spy="affix" data-offset-top="197" style="background-color: #f5f5f5;">
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item">
                <div>
                  <a class="active" (click)="changeTopic1($event)">
                    WHAT WE DO
                  </a>
                </div>
            </li>
            <li class="nav-item">
                <div>
                  <a (click)="changeTopic2($event)">
                    HOW WE WORK
                  </a>
                </div>
            </li>
            <li class="nav-item">
                <div>
                  <a (click)="changeTopic3($event)">
                    GET INVOLVED
                  </a>
                </div>
            </li>
            <li><a href="#"><i class="glyphicon glyphicon-align-justify"></i></a></li>
        </ul>
    </nav>

    <nav *ngIf="topicNav=='2'" id="navbar" class="navbar navbar-fixed-top" style="background-color: #f5f5f5;">
        <img *ngIf="topicNav=='2'" src="./img/pdis-logo-01small.png" width="80" height="80">
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item">
                <div>
                  <a (click)="changeTopic1($event)">
                    WHAT WE DO
                  </a>
                </div>
            </li>
            <li class="nav-item">
                <div>
                  <a class="active" (click)="changeTopic2($event)">
                    HOW WE WORK
                  </a>
                </div>
            </li>
            <li class="nav-item">
                <div>
                  <a (click)="changeTopic3($event)">
                    GET INVOLVED
                  </a>
                </div>
            </li>
            <li><a href="#"><i class="glyphicon glyphicon-align-justify"></i></a></li>
        </ul>
    </nav>

    <nav *ngIf="topicNav=='3'" id="navbar" class="navbar navbar-fixed-top navbar-clear" style="background-color: #f5f5f5;">
        <img *ngIf="topicNav=='3'" src="./img/logo.png" width="80" height="80" style="background-color: #ffffff;">

        <ul class="nav navbar-nav pull-right">
            <li class="nav-item">
                <div>
                  <a (click)="changeTopic1($event)">
                    WHAT WE DO
                  </a>
                </div>
            </li>
            <li class="nav-item">
                <div>
                  <a (click)="changeTopic2($event)">
                    HOW WE WORK
                  </a>
                </div>
            </li>
            <li class="nav-item">
                <div>
                  <a class="active" (click)="changeTopic3($event)">
                    GET INVOLVED
                  </a>
                </div>
            </li>
            <li><a href="#"><i class="glyphicon glyphicon-align-justify"></i></a></li>
        </ul>
    </nav>
